.container {
  height: 100%;
}

.listContainer {
  justify-content: center;
  width: 50%;
  height: 100%;
}

.list {
  background-color: rgba(186, 178, 178, 0.2);
  overflow-y: auto;
  max-height: 25vw;
}

.listItem {
  border-bottom: black 1px solid;
  margin-bottom: 20px !important;
}

.selectedListItem {
  border-bottom: black 1px solid;
  margin-bottom: 20px !important;
  background-color: #2e6369bf !important;
}

.listItemText {
  color: white;
}

.iconWrapper {
  z-index: 5;
  position: absolute;
  right: 3%;
  width: 70px;
  height: 70px;
}

.warning {
  width: 100%;
  height: 100%;
  animation-name: warning-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes warning-animation {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bottomPanel {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(40, 71, 110, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.videoContainer {
  width: 100%;
  height: 50%;
}

.censorBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  pointer-events: none;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
